PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://user:pass@localhost:5432/taskdb
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

FIREBASE_API_KEY=AIzaSyD89ZUS0gU8XgmIneDbgiK9ueZ_yTo7TH0
FIREBASE_AUTH_DOMAIN=backend-pj.firebaseapp.com
FIREBASE_PROJECT_ID=backend-pj
FIREBASE_STORAGE_BUCKET=backend-pj.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=180537463824
FIREBASE_APP_ID=1:180537463824:web:559e2a5526536f2380e695
FIREBASE_MEASUREMENT_ID=G-VP24H9NPXN

